/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 false;
    display-drun:               "";
	drun-display-format:        "{name}";
}

* {
    font:                        "JetBrains Mono Nerd Font 12";
    background:                  #1e1f29;
    background-alt:              #2a2c39;
    foreground:                  #FFFFFF;
    selected:                    #25A286;
    active:                      #1e1f29;
    urgent:                      #25A286;
    border-radius:               5px;
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    northeast;
    anchor:                      northeast;
    fullscreen:                  false;
    width:                       350px;
    height:                      250px;
    x-offset:                    -25px;
    y-offset:                    5px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      1px solid;
    border-radius:               5px;
    border-color:                #25a487;
    background-color:            #1e1f29;
    cursor:                      "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @selected;
    background-color:            transparent;
    children:                    [ "inputbar", "listbox" ];
}
listbox {
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px 0px 10px 0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                #25a487;
    background-color:            #1e1f29;
    text-color:                  #e4f3f0;
    children:                    [ "prompt", "entry" ];
}
prompt {
    enabled:                     false;
    background-color:            inherit;
    text-color:                  #e4f3f0;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    expand:                      true;
    width:                       300px;
    padding:                     10px 10px;
    border-radius:               5px;
    background-color:            #2a2c39;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Calculate";
    placeholder-color:           inherit;
}
dummy {
    expand:                      true;
    background-color:            transparent;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      10px 0px 10px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                #25a487;
    background-color:            transparent;
    text-color:                  #e4f3f0;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px 10px 0px 10px;
    padding:                     8px;
    border:                      0px solid;
    border-radius:               5px;
    border-color:                #25a487;
    background-color:            transparent;
    text-color:                  #e4f3f0;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            #1e1f29;
    text-color:                  #e4f3f0;
}
element selected.normal {
    background-color:            #25a487;
    text-color:                  #e4f3f0;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Message -----*****/
message {
    background-color:            transparent;
}
textbox {
    padding:                     12px;
    border-radius:               5px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     12px;
    border-radius:               5px;
    background-color:            @background;
    text-color:                  @foreground;
}

